In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json
from pprint import pprint

In [2]:
#import all DataFrames
attendance_cost = pd.read_csv('CSVs/attendance_cost.csv', index_col=0)
retention = pd.read_csv('CSVs/retention.csv', index_col=0)
student_demo = pd.read_csv('CSVs/student_demo.csv', index_col=0)
student_gen = pd.read_csv('CSVs/student_gen.csv', index_col=0)
student_income = pd.read_csv('CSVs/student_income.csv', index_col=0)
student_sex = pd.read_csv('CSVs/student_sex.csv', index_col=0)

In [3]:
attendance_cost.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 700 entries, 0 to 699
Data columns (total 31 columns):
 #   Column                                                                                        Non-Null Count  Dtype
---  ------                                                                                        --------------  -----
 0   school name                                                                                   700 non-null    object
 1   school city                                                                                   700 non-null    object
 2   carnegie undergrad profile                                                                    700 non-null    int64
 3   carnegie size setting                                                                         700 non-null    int64
 4   average number of months needed to complete program #1                                        700 non-null    float64
 5   average number of months needed to complete program #2                                        700 non-null    float64
 6   average number of months needed to complete program #3                                        700 non-null    float64
 7   average number of months needed to complete program #4                                        700 non-null    float64
 8   average number of months needed to complete program #5                                        700 non-null    float64
 9   average number of months needed to complete program #6                                        700 non-null    float64
 10  average net price (public)                                                                    700 non-null    float64
 11  average net price (private)                                                                   700 non-null    float64
 12  average net price (other academic year)                                                       700 non-null    int64
 13  average net price (program year)                                                              700 non-null    int64
 14  public net price by income level (75001-110000)                                               700 non-null    float64
 15  public net price by income level (75000 plus)                                                 700 non-null    float64
 16  public net price by income level (48001-75000)                                                700 non-null    float64
 17  public net price by income level (30001-75000)                                                700 non-null    float64
 18  public net price by income level (30001-48000)                                                700 non-null    float64
 19  public net price by income level (110001-plus)                                                700 non-null    float64
 20  average net price for 110,000+ family income (private for-profit and nonprofit institutions)  700 non-null    float64
 21  average net price for 110,000+ family income (other academic calendar institutions)           700 non-null    int64
 22  average net price for 0-48,000 family income (public institutions)                            700 non-null    float64
 23  average net price for 0-48000 family income (program-year institutions)                       700 non-null    int64
 24  average net price for 0-48,000 family income (private institutions)                           700 non-null    float64
 25  average net price for 0-48,000 family income (other academic calendar institutions)           700 non-null    int64
 26  average net price for 0-30,000 family income (public institutions)                            700 non-null    float64
 27  average net price for 0-30,000 family income (program-year institutions)                      700 non-null    int64
 28  average net price for 0-30,000 family income (private institutions)                           700 non-null    float64
 29  average net price for 0-30,000 family income (other academic calendar institutions)           700 non-null    int64
 30  latest.admissions.admission_rate.overall                                                      700 non-null    float64
dtypes: float64(20), int64(9), object(2)
memory usage: 175.0+ KB

In [4]:
retention.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 700 entries, 0 to 699
Data columns (total 26 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   school name                                                           700 non-null    object
 1   federal loan rate                                                     700 non-null    float64
 2   title iv cost for public schools                                      700 non-null    float64
 3   title iv cost for private schools                                     700 non-null    float64
 4   tuition revenue per full time enrollment                              700 non-null    float64
 5   tuition cost for in state students                                    700 non-null    float64
 6   pooled part time student retention rate for 4 years                   700 non-null    float64
 7   pooled full time students in less than 4 years                        700 non-null    float64
 8   pooled full time students in 4 years                                  700 non-null    float64
 9   cost of attendance with family other expenses                         700 non-null    float64
 10  completion rate for less than 4 years (white)                         700 non-null    float64
 11  completion rate for 4 years (2 or more race ethnicity)                700 non-null    float64
 12  completion rate for less than 4 years (hawaiian or pacific islander)  700 non-null    float64
 13  completion rate for less than 4 years (hispanic)                      700 non-null    float64
 14  completion rate for less than 4 years (black)                         700 non-null    float64
 15  completion rate for less than 4 years (american indian)               700 non-null    float64
 16  completion rate less than 4 years (american indian)                   700 non-null    float64
 17  completion rate for 4 years (white)                                   700 non-null    float64
 18  completion rate for 4 years (2 or more race ethnicity).1              700 non-null    float64
 19  completion rate for 4 years (hawaiian or pacific islander)            700 non-null    float64
 20  completion rate for 4 years (hispanic)                                700 non-null    float64
 21  completion rate for 4 years (black)                                   700 non-null    float64
 22  completion rate for 4 years (asian)                                   700 non-null    float64
 23  completion rate for 4 years (american indian)                         700 non-null    float64
 24  pooled for 2 year rolling net averages                                700 non-null    float64
 25  latest.completion.completion_rate_4yr_150nt                           700 non-null    float64
dtypes: float64(25), object(1)
memory usage: 147.7+ KB

In [5]:
student_demo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 700 entries, 0 to 699
Data columns (total 37 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   school name                                                700 non-null    object
 1   zipcode                                                    700 non-null    object
 2   student size                                               700 non-null    float64
 3   pell grant rate                                            700 non-null    float64
 4   average faculty salary                                     700 non-null    float64
 5   fulltime faculty rate                                      700 non-null    float64
 6   admission test requirements                                700 non-null    float64
 7   completion rate in 4 years (hawaiian or pacific islander)  700 non-null    float64
 8   completion rate in 4 years (american indian)               700 non-null    float64
 9   completion rate in 4 years (asian)                         700 non-null    float64
 10  completion rate in 4 years (hispanic)                      700 non-null    float64
 11  completion rate in 4 years (black)                         700 non-null    float64
 12  completion rate in 4 years (white)                         700 non-null    float64
 13  total student demographic (white)                          700 non-null    float64
 14  total student demographic (hispanic)                       700 non-null    float64
 15  total student demographic (black)                          700 non-null    float64
 16  total student demographic (american indian)                700 non-null    float64
 17  total student demographic (female)                         700 non-null    float64
 18  total student demographic (male)                           700 non-null    float64
 19  median debt for income 30001_75000                         700 non-null    float64
 20  median debt for income 0-30000                             700 non-null    float64
 21  median debt for income greater than 75000                  700 non-null    float64
 22  median debt for noncompleters                              700 non-null    float64
 23  median debt for completers                                 700 non-null    float64
 24  median debt for male students                              700 non-null    float64
 25  median debt for independent students                       700 non-null    float64
 26  median debt for female students                            700 non-null    float64
 27  median debt for dependent students                         700 non-null    float64
 28  faculty demographic (white)                                700 non-null    float64
 29  faculty demographic (2 or more race or ethnicity)          700 non-null    float64
 30  faculty demographic (unknown race or ethnicity)            700 non-null    float64
 31  faculty demographic (hawaiian or pacific islander)         700 non-null    float64
 32  faculty demographic (hispanic)                             700 non-null    float64
 33  faculty demographic (black)                                700 non-null    float64
 34  faculty demographic (asian)                                700 non-null    float64
 35  faculty demographic (american indian)                      700 non-null    float64
 36  latest.student.share_25_older                              700 non-null    float64
dtypes: float64(35), object(2)
memory usage: 207.8+ KB

In [6]:
student_gen.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 700 entries, 0 to 699
Data columns (total 100 columns):
 #   Column                                                                                        Non-Null Count  Dtype
---  ------                                                                                        --------------  -----
 0   school name                                                                                   700 non-null    object
 1   share of independent low income students (0-30000)                                            700 non-null    float64
 2   share of independent students                                                                 700 non-null    float64
 3   share of dependent low income students (0-30000)                                              700 non-null    float64
 4   share of low income students                                                                  700 non-null    float64
 5   student share for first generation                                                            700 non-null    float64
 6   student share for first gen with parents went to college                                      700 non-null    float64
 7   student share for first gen with parents went to middleschool                                 700 non-null    float64
 8   student share for first gen with parents went to highschool                                   700 non-null    float64
 9   title iv for first gen transferees in 4 years completed by 2 years                            700 non-null    float64
 10  title iv for first gen transferees in 4 years completed by 3 years                            700 non-null    float64
 11  title iv for first gen transferees in 4 years completed by 4 years                            700 non-null    float64
 12  title iv for first gen transferees in 4 years completed by 6 years                            700 non-null    float64
 13  title iv for first gen transferees in 4 years completed by 8 years                            700 non-null    float64
 14  latest.student.demographics.share_bachelors_degree_age25.home_ZIP                             700 non-null    float64
 15  latest.student.demographics.share_born_US.home_ZIP                                            700 non-null    float64
 16  latest.student.demographics.share_white.home_ZIP                                              700 non-null    float64
 17  latest.student.demographics.share_hispanic.home_ZIP                                           700 non-null    float64
 18  latest.student.demographics.share_black.home_ZIP                                              700 non-null    float64
 19  latest.student.demographics.share_asian.home_ZIP                                              700 non-null    float64
 20  latest.student.demographics.share_professional_degree_age25.home_ZIP                          700 non-null    float64
 21  latest.completion.title_iv.not_first_gen.died_by.2yrs                                         700 non-null    int64
 22  latest.completion.title_iv.mid_inc.died_by.2yrs                                               700 non-null    int64
 23  latest.completion.title_iv.low_inc.died_by.2yrs                                               700 non-null    int64
 24  latest.completion.title_iv.independ.died_by.2yrs                                              700 non-null    int64
 25  title iv for independent students completed by 2 years                                        700 non-null    float64
 26  title iv for independent students completed by 3 years                                        700 non-null    float64
 27  title iv for independent students completed by 4 years                                        700 non-null    float64
 28  title iv for independent students completed by 6 years                                        700 non-null    float64
 29  title iv for independent students completed by 8 years                                        700 non-null    float64
 30  title iv for independent students withdrawn by 2 years                                        700 non-null    float64
 31  title iv for independent students withdrawn by 3 years                                        700 non-null    float64
 32  title iv for independent students withdrawn by 4 years                                        700 non-null    float64
 33  title iv for independent students withdrawn by 6 years                                        700 non-null    float64
 34  title iv for independent students withdrawn by 8 years                                        700 non-null    float64
 35  title iv for independent transferees withdrawn by 2 years                                     700 non-null    float64
 36  title iv for independent transferees withdrawn by 3 years                                     700 non-null    float64
 37  title iv for independent transferees withdrawn by 4 years                                     700 non-null    float64
 38  title iv for independent transferees withdrawn by 6 years                                     700 non-null    float64
 39  title iv for independent transferees withdrawn by 8 years                                     700 non-null    float64
 40  title iv for independent transferees completed by 2 years                                     700 non-null    float64
 41  title iv for independent transferees completed by 3 years                                     700 non-null    float64
 42  title iv for independent transferees completed by 4 years                                     700 non-null    float64
 43  title iv for independent transferees completed by 6 years                                     700 non-null    float64
 44  title iv for independent transferees completed by 8 years                                     700 non-null    float64
 45  title iv for dependent students completed by 2 years                                          700 non-null    float64
 46  title iv for dependent students completed by 3 years                                          700 non-null    float64
 47  title iv for dependent students completed by 4 years                                          700 non-null    float64
 48  title iv for dependent students completed by 6 years                                          700 non-null    float64
 49  title iv for dependent students completed by 8 years                                          700 non-null    float64
 50  title iv for dependent students withdrawn by 2 years                                          700 non-null    float64
 51  title iv for dependent students withdrawn by 3 years                                          700 non-null    float64
 52  title iv for dependent students withdrawn by 4 years                                          700 non-null    float64
 53  title iv for dependent students withdrawn by 6 years                                          700 non-null    float64
 54  title iv for dependent students withdrawn by 8 years                                          700 non-null    float64
 55  title iv for dependent transferees in 4 years withdrawn by 2 years                            700 non-null    float64
 56  title iv for dependent transferees in 4 years withdrawn by 3 years                            700 non-null    float64
 57  title iv for dependent transferees in 4 years withdrawn by 4 years                            700 non-null    float64
 58  title iv for dependent transferees in 4 years withdrawn by 6 years                            700 non-null    float64
 59  title iv for dependent transferees in 4 years withdrawn by 8 years                            700 non-null    float64
 60  title iv for dependent transferees in 4 years completed by 2 years                            700 non-null    float64
 61  title iv for dependent transferees in 4 years completed by 3 years                            700 non-null    float64
 62  title iv for dependent transferees in 4 years completed by 4 years                            700 non-null    float64
 63  title iv for dependent transferees in 4 years completed by 6 years                            700 non-null    float64
 64  title iv for dependent transferees in 4 years completed by 8 years                            700 non-null    float64
 65  title iv student share for non first generation completed by 2 years                          700 non-null    float64
 66  title iv student share for non first generation completed by 3 years                          700 non-null    float64
 67  title iv student share for non first generation completed by 4 years                          700 non-null    float64
 68  title iv student share for non first generation completed by 6 years                          700 non-null    float64
 69  title iv student share for non first generation completed by 8 years                          700 non-null    float64
 70  title iv student share for non first generation withdrawn by 2 years                          700 non-null    float64
 71  title iv student share for non first generation withdrawn by 3 years                          700 non-null    float64
 72  title iv student share for non first generation withdrawn by 4 years                          700 non-null    float64
 73  title iv student share for non first generation withdrawn by 6 years                          700 non-null    float64
 74  title iv student share for non first generation withdrawn by 8 years                          700 non-null    float64
 75  title iv student share for non first generation transferees in 4 years withdrawn by 2 years   700 non-null    float64
 76  title iv student share for non first generation transferees in 4 years withdrawn  by 3 years  700 non-null    float64
 77  latest.completion.title_iv.not_first_gen.transf_withdrawn_4yr_by.4yrs                         700 non-null    float64
 78  title iv student share for non first generation transferees in 4 years withdrawn  by 6 years  700 non-null    float64
 79  title iv student share for non first generation transferees in 4 years withdrawn by 8 years   700 non-null    float64
 80  title iv student share for non first generation transferees in 4 years completed by 2 years   700 non-null    float64
 81  title iv student share for non first generation transferees in 4 years completed by 3 years   700 non-null    float64
 82  title iv student share for non first generation transferees in 4 years completed by 4 years   700 non-null    float64
 83  title iv student share for non first generation transferees in 4 years completed by 6 years   700 non-null    float64
 84  title iv student share for non first generation transferees in 4 years completed by 8 years   700 non-null    float64
 85  title iv first gen students completed by 2 years                                              700 non-null    float64
 86  title iv first gen students completed by 3 years                                              700 non-null    float64
 87  title iv first gen students completed by 4 years                                              700 non-null    float64
 88  title iv first gen students completed by 6 years                                              700 non-null    float64
 89  title iv first gen students completed by 8 years                                              700 non-null    float64
 90  title iv first gen students withdrawn by 2 years                                              700 non-null    float64
 91  title iv first gen students withdrawn by 3 years                                              700 non-null    float64
 92  title iv first gen students withdrawn by 4 years                                              700 non-null    float64
 93  title iv first gen students withdrawn by 6 years                                              700 non-null    float64
 94  title iv first gen students withdrawn by 8 years                                              700 non-null    float64
 95  title iv for first gen transferees in 4 years withdrawn by 2 years                            700 non-null    float64
 96  title iv for first gen transferees in 4 years withdrawn by 3 years                            700 non-null    float64
 97  title iv for first gen transferees in 4 years withdrawn by 4 years                            700 non-null    float64
 98  title iv for first gen transferees in 4 years withdrawn by 6 years                            700 non-null    float64
 99  title iv for first gen transferees in 4 years withdrawn by 8 years                            700 non-null    float64
dtypes: float64(95), int64(4), object(1)
memory usage: 552.3+ KB

In [7]:
student_income.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 700 entries, 0 to 699
Data columns (total 61 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   school name                                                           700 non-null    object
 1   student median family income                                          700 non-null    float64
 2   title iv for low income completed by 3 years                          700 non-null    float64
 3   title iv for low income completed by 4 years                          700 non-null    float64
 4   title iv for low income completed by 6 years                          700 non-null    float64
 5   title iv for low income completed by 8 years                          700 non-null    float64
 6   title iv for low income withdrawn by 2 years                          700 non-null    float64
 7   title iv for low income withdrawn by 3 years                          700 non-null    float64
 8   title iv for low income withdrawn by 4 years                          700 non-null    float64
 9   title iv for low income withdrawn by 6 years                          700 non-null    float64
 10  title iv for low income withdrawn by 8 years                          700 non-null    float64
 11  title iv for low income transferees withdrawn by 2 years              700 non-null    float64
 12  title iv for low income transferees withdrawn by 3 years              700 non-null    float64
 13  title iv for low income transferees withdrawn by 4 years              700 non-null    float64
 14  title iv for low income transferees withdrawn by 6 years              700 non-null    float64
 15  title iv for low income transferees withdrawn by 8 years              700 non-null    float64
 16  title iv for low income transferees completed by 2 years              700 non-null    float64
 17  title iv for low income transferees completed by 3 years              700 non-null    float64
 18  title iv for low income transferees completed by 4 years              700 non-null    float64
 19  title iv for low income transferees completed by 6 years              700 non-null    float64
 20  title iv for low income transferees completed by 8 years              700 non-null    float64
 21  title iv for  middle income completed by 2 years                      700 non-null    float64
 22  title iv for  middle income completed by 3 years                      700 non-null    float64
 23  title iv for  middle income completed by 4 years                      700 non-null    float64
 24  title iv for  middle income completed by 6 years                      700 non-null    float64
 25  title iv for  middle income completed by 8 years                      700 non-null    float64
 26  title iv for middle income withdrawn by 2 years                       700 non-null    float64
 27  title iv for middle income withdrawn by 3 years                       700 non-null    float64
 28  title iv for middle income withdrawn by 4 years                       700 non-null    float64
 29  title iv for middle income withdrawn by 6 years                       700 non-null    float64
 30  title iv for middle income withdrawn by 8 years                       700 non-null    float64
 31  title iv for middle income transferees withdrawn by 2 years           700 non-null    float64
 32  title iv for middle income transferees withdrawn by 3 years           700 non-null    float64
 33  title iv for middle income transferees withdrawn by 4 years           700 non-null    float64
 34  title iv for middle income transferees withdrawn by 6 years           700 non-null    float64
 35  title iv for middle income transferees withdrawn by 8 years           700 non-null    float64
 36  title iv for middle income transferees completed by 2 years           700 non-null    float64
 37  title iv for middle income transferees completed by 3 years           700 non-null    float64
 38  title iv for middle income transferees completed by 4 years           700 non-null    float64
 39  title iv for middle income transferees completed by 6 years           700 non-null    float64
 40  title iv for middle income transferees completed by 8 years           700 non-null    float64
 41  title iv for  high income completed by 2 years                        700 non-null    float64
 42  title iv for  high income completed by 3 years                        700 non-null    float64
 43  title iv for  high income completed by 4 years                        700 non-null    float64
 44  title iv for  high income completed by 6 years                        700 non-null    float64
 45  title iv for  high income completed by 8 years                        700 non-null    float64
 46  title iv for  high income withdrawn by 2 years                        700 non-null    float64
 47  title iv for  high income withdrawn by 3 years                        700 non-null    float64
 48  title iv for  high income withdrawn by 4 years                        700 non-null    float64
 49  title iv for  high income withdrawn by 6 years                        700 non-null    float64
 50  title iv for  high income withdrawn by 8 years                        700 non-null    float64
 51  title iv for high income transferees withdrawn by 2 years             700 non-null    float64
 52  title iv for high income transferees withdrawn by 3 years             700 non-null    float64
 53  title iv for high income transferees withdrawn by 4 years             700 non-null    float64
 54  title iv for high income transferees withdrawn by 6 years             700 non-null    float64
 55  title iv for high income transferees withdrawn by 8 years             700 non-null    float64
 56  title iv for high income transferees in 4 years completed by 2 years  700 non-null    float64
 57  title iv for high income transferees in 4 years completed by 3 years  700 non-null    float64
 58  title iv for high income transferees in 4 years completed by 4 years  700 non-null    float64
 59  title iv for high income transferees in 4 years completed by 6 years  700 non-null    float64
 60  title iv for high income transferees in 4 years completed by 8 years  700 non-null    float64
dtypes: float64(60), object(1)
memory usage: 339.1+ KB

In [8]:
student_sex.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 700 entries, 0 to 699
Data columns (total 43 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   school name                                                  700 non-null    object
 1   women only schools                                           700 non-null    int64
 2   men only schools                                             700 non-null    int64
 3   males completed title iv by 2 years                          700 non-null    float64
 4   males completed title iv by 3 years                          700 non-null    float64
 5   males completed title iv by 4 years                          700 non-null    float64
 6   males completed title iv by 6 years                          700 non-null    float64
 7   males completed title iv by 8 years                          700 non-null    float64
 8   males withdrawn title iv by 2 years                          700 non-null    float64
 9   males withdrawn title iv by 3 years                          700 non-null    float64
 10  males withdrawn title iv by 4 years                          700 non-null    float64
 11  males withdrawn title iv by 6 years                          700 non-null    float64
 12  males withdrawn title iv by 8 years                          700 non-null    float64
 13  male transferees withdrawn title 2 years                     700 non-null    float64
 14  male transferees withdrawn title 3 years                     700 non-null    float64
 15  male transferees withdrawn title 4 years                     700 non-null    float64
 16  male transferees withdrawn title 6 years                     700 non-null    float64
 17  male transferees withdrawn title 8 years                     700 non-null    float64
 18  male transferees completed title iv in 4 years by 2 years    700 non-null    float64
 19  male transferees completed title iv in 4 years by 3 years    700 non-null    float64
 20  male transferees completed title iv in 4 years by 4 years    700 non-null    float64
 21  male transferees completed title iv in 4 years by 6 years    700 non-null    float64
 22  male transferees completed title iv in 4 years by 8 years    700 non-null    float64
 23  females completed title iv by 2 years                        700 non-null    float64
 24  females completed title iv by 3 years                        700 non-null    float64
 25  females completed title iv by 4 years                        700 non-null    float64
 26  females completed title iv by 6 years                        700 non-null    float64
 27  females completed title iv by 8 years                        700 non-null    float64
 28  females withdrawn title iv by 2 years                        700 non-null    float64
 29  females withdrawn title iv by 3 years                        700 non-null    float64
 30  females withdrawn title iv by 4 years                        700 non-null    float64
 31  males withdrawn title iv by 6 years.1                        700 non-null    float64
 32  females withdrawn title iv by 8 years                        700 non-null    float64
 33  female transferees withdrawn title iv in 4 years by 2 years  700 non-null    float64
 34  female transferees withdrawn title iv in 4 years by 3 years  700 non-null    float64
 35  female transferees withdrawn title iv in 4 years by 4 years  700 non-null    float64
 36  female transferees withdrawn title iv in 4 years by 6 years  700 non-null    float64
 37  female transferees withdrawn title iv in 4 years by 8 years  700 non-null    float64
 38  female transferees completed title iv in 4 years by 2 years  700 non-null    float64
 39  female transferees completed title iv in 4 years by 3 years  700 non-null    float64
 40  female transferees completed title iv in 4 years by 4 years  700 non-null    float64
 41  female transferees completed title iv in 4 years by 6 years  700 non-null    float64
 42  female transferees completed title iv in 4 years by 8 years  700 non-null    float64
dtypes: float64(40), int64(2), object(1)
memory usage: 240.6+ KB